/*===================================================================================*/
/*	CUSTOM CSS STYLES
/*===================================================================================*/

/* Insert your own styles in here! */

.get-started {
	background-color: #3949ab !important; /* Black background color */
	color: #fff !important;
}

.get-started:hover {
	background-color: inherit !important;
	border: 1px solid #3949ab !important;
	color: #3949ab !important;
}

@media only screen and (max-width: 1000px) {
	.get-started {
		background-color: inherit !important; /* Black background color */
		color: inherit !important;
	}

	.get-started:hover {
		background-color: inherit !important;
		border: inherit !important;
		color: inherit !important;
	}
}

@media only screen and (max-width: 768px) {
	.footer-bottom .float-right {
		float: none !important;
		text-align: center;
	}
}

.dark-bg .icn {
	color: #fff !important;
}

.lang-switch {
	margin-bottom: 0;
}

.lang-switch .dropdown-menu li::before {
	display: none;
}
.lang-switch .dropdown-menu li {
	display: block;
}
.lang-switch .dropdown-menu li a {
	padding: 8px !important;
}
